*{
    margin: 0em;
    padding: 0em;
}

:root {
    --pixel-size: 10;
 }

/* Section style */
.secvis{
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(-45deg, #ffffff, #acacac, #dcdcdc, #646464);
	background-size: 400% 400%;
	animation: gradientAni 15s ease infinite;
}

.startBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.opacityChange{
    opacity: 0;
    transition: opacity 1s;
}

.gradient{
    /* background-image: linear-gradient(45deg, rgb(255, 255, 255), rgb(184, 184, 184), white); */
}

.shadow_text{
    
    font-weight: 100em;
    text-shadow: 0em 0em 0em black;
    transition: 0.2s;
}

.shadow_text:hover{
    color: rgb(255, 255, 255);
    /* font-size: 3.8em; */
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-shadow: 0em 0.2em 0.08em black;
    margin-top: -0.4em;
}

/* Text Style */
.simpleText{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 2.5vw;
}

.titles{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 3vw;
}

/* Fight Screen and Scenario Styles */

.selectionDiv{
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#creationList{

    display: grid;

    align-items: center;
    justify-content: center;
    text-align: center;

    height: 90vh;
    width: 36vw;

    z-index: 1;

    grid-template-columns: repeat(5, 0.5fr);
    grid-template-rows: repeat(4, 0.2fr);
}

.gradientSelection{
    /* background-image: linear-gradient(to right, black, black); */
}


#previewLeft{
    /* box-sizing: border-box; */
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 34vw;
    
    transition: 1s;
    z-index: 1;
}

#previewRight{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 34vw;
    overflow: hidden;
    /* background-image: radial-gradient(black, black 50%); */
    transition: 1s;
    z-index: 2;
}

#previewCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 32vw;
     /* background-image: linear-gradient(to right, black, rgb(148, 148, 148), black); */

}
/* Pics of the fighters Style" */

.selectionText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    padding: 1.5em;
}
/* .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    transition: 1s;
    background-color: red;
    height: 4em;
} */

.picBox{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    
    height: 8em;
    width: 8em;
    background-image: url(https://media3.giphy.com/media/3o7TKq6HIBAgUuBMv6/200.gif);
    background-position: center;
    background-size: 15em;
    background-position-y: -4.5em;
}
.picFighter{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: auto;
    height: 8em;
    background-position: center;
    /* background-image: url(https://media3.giphy.com/media/3o7TKq6HIBAgUuBMv6/200.gif); */

    /* transform:skew(-30deg) */
}
.picFighter1{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    width: auto;
    height: 28em;
    /* transform:skew(-30deg) */
}


.picBox:hover{
    box-sizing: border-box;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0.1em 1em 0.5em rgb(29, 29, 29);
    margin-top: -0.2em;
    border-radius: 100%;
}


.scenarioFight{
    width: auto;
    height: 50vh;
    /* border: solid 0.1em white; */
    margin: 1em;
    transition: 0.5s;

}

/* Selected Fighter */
.choosen{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5; 

}

/* Team vs Team Screen */

.teamVsTeamScreen{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: row;

    height: 100vh;
    width: 80vw;
    color: white;

    /* background-color: green; */
}

.teams{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    height: 100vh;
    width: 100vw;

    background-color: red;
}

.teamCharacters{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 100vh;
    width: 100em;

    /* background-color: yellow; */
}

.teamCharacters1{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    height: 80em;
    width: 100vw;

    background-color: yellow;
}

/* LIFE BAR */
.lifeBarP1{
    height: 5vh;
    width: 40em;
    background-color: rgb(0, 95, 149);
    border-right: solid 0.4em black;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.lifeBarP2{
    height: 5vh;
    width: 40em;
    background-color: rgb(0, 95, 149);
    border-right: solid 0.4em black;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.lifeBar{
    display: flex;
    align-items: center;

    height: 5vh;
    width: 40em;
    background-color: rgb(255, 0, 0);

}

.winnerDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 100vh;

}

.winnerScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: auto;

}


 @keyframes gradientAni {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes titles {
    0%   {opacity:1}
        50%  {opacity:0}
    100%  {opacity:1}
    
}
 #Str{

    background-color: rgb(98, 48, 35);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 #Agi{
    background-color: rgb(255, 145, 0);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 #Def{
    background-color: rgb(255, 0, 0);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 #Skl{
    background-color: rgb(255, 238, 0);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 #Spd{
    background-color: rgb(30, 255, 0);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 .stats{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100vw;
    height: 0.8em;
    /* border: 0.01em solid rgb(255, 255, 255); */
 }
 .statsBox{
    width: 50em;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgb(42, 42, 42);
    border-radius: 0.5em;
    box-shadow: inset 0em 0em 0.5em 0.02em rgb(0, 0, 0), 0em 0em 0.05em 0.05em darkgrey;
    transform: rotate3d(0, 1, 0, 45deg);
 }

 .shadowsBar{
    /* box-shadow: -0.25em 0.05em 0.1em 0em rgb(29, 29, 29), 0em 0em 0.4em rgba(255, 255, 255, 0.068), inset 0em 0.05em 0.05em 0em white; */
    border-radius: 0.5em 0.5em 0.5em 0.5em;
 }


  .photoSize{
      height: 60em;
      width: auto;
  }

  #phase2{
      /* background-image: url(https://media3.giphy.com/media/3o7TKq6HIBAgUuBMv6/200.gif) */
  }

  .skillsText{
    font-size: 1em;
    color: white;
    text-shadow: 0.05em 0.08em black;
  }