  

body{
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Background Classes */
.backgroundDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    flex-direction: column;
	top: 0;
	left:0;
	bottom: 0;
    right: 0;
}

.gradientBackground{
    background-image: linear-gradient(orange, blue);
}

/* Text Classes */

.gameIntro{
    color: white;
    text-shadow: 0.1em 0.1em 0.1em rgb(162, 185, 57);
}

/* FIGHTER */
/* #fighter{
    position: relative;
    width: 1em;
    height: 1em;
    background-color: tomato;
}

#scenario{
    background-color: blue;
} */

.screen{
    display: flex;
    justify-content: center;
    align-items: center;

}
#fightersScreen{
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred; */
}

.fighters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.1em;
}

.picFighter{
    height: 10em;
    width: 10em;
    border-radius: 50% 25% 50% 25%;
    border: solid 0.1em blue;
    box-shadow: 0.05em 0.05em 0.4em 0.2em red;
}
